<!DOCTYPE html>
<html lang="en" data-bs-theme= <%=mode %>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <!-- <link rel="stylesheet" href="/styles/layout.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Macondo+Swash+Caps&family=Nabla&family=Pacifico&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/content.css">
    <title>Pranet</title>
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-<%= mode %> border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <h1 class="bi me-2 " id="header-title">Pranet</h1>
              </a>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                 <a href="/homepage"> <button type="button" class="btn btn-warning">
                      Home
                  </button></a>
                </li>
                <li>
                <a href="/post"><button  class="btn btn-warning newPost">
                    New Post
                </button></a>
                </li>
                <li>
                  <a href="/homepage" class="nav-link text-secondary">
                    
                    <% if (mode === "light") { %>
                      <button type="button" class="btn ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-lightbulb-off-fill" viewBox="0 0 16 16">
                            <path d="M2 6c0-.572.08-1.125.23-1.65l8.558 8.559A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m10.303 4.181L3.818 1.697a6 6 0 0 1 8.484 8.484zM5 14.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5M2.354 1.646a.5.5 0 1 0-.708.708l12 12a.5.5 0 0 0 .708-.708l-12-12z"></path>
                        </svg>
        
                      </button>
                    <% } else { %>
                      <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
          <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"></path>
        </svg>
                        
                      </button>
                    <% } %>
                    
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </header>
</body>
</html>