<%- include("partials/header.ejs")  %>
<body>  
    <div>
        <h1 class="post-page-title font-for-title"><%= locals.title %></h1>
        <p id="read-content"><%= locals.content  %></p>
    </div>
</body>
<%- include("partials/footer.ejs") %>